[Unit]
Description=Handles the creation and cleanup of root LVM partition snapshots
After=network.target

[Service]
Type=simple
ExecStart=/mnt/data/backup/scripts/backup.sh
ExecStart=/mnt/data/backup/scripts/cleanup.sh